NUTHATCH_KEY=KEY
DB_URL=postgresql://DB_USER:DB_PASS@localhost:5432/rate_birds?sslmode=disable
DB_USER=USER
DB_NAME=rate_birds
DB_PASS=PASS
DB_HOST=go-app-db
PORT=8080
LOG_LEVEL=info
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
BUCKET_NAME=