<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="stylesheet" href="output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Birds</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="header relative top-0 m-0 p-4 max-w-screen text-center bg-green-700">
        <h3>Rate<em>(the)</em>Birds</h3>
    </header>
    <div class="main flex flex-col p-2 items-center justify-center min-h-svh h-auto w-screen bg-amber-200">
        <div id="bird-wrapper" class="w-full max-w-6xl p-6 flex flex-row sm:flex-col gap-12 items-stretch justify-center"
            hx-get="/api/loadbirds/" hx-trigger="load" hx-target="#bird-wrapper" hx-swap="outerHTML">
            
            <!-- Left Bird Card -->
			<div class="flex-1 max-w-md shadow-lg rounded-lg p-6 flex flex-col bg-zinc-300" id="left-bird">
				<div id="left-bird-content" class="flex-1 flex flex-col">
					<div class="w-full aspect-square mb-4 overflow-hidden rounded-md bg-gray-100 flex items-center justify-center"
						id="left-bird">
						<img class="w-full h-full object-cover loading-shimmer" width="250" height="250"
							src="/api/image?url=%s">
					</div>
					<div class="flex flex-col text-center mb-4">
						<p>%s</p>
						<p><em>%s</em></p>
					</div>	
					<button
						class="rounded-md outline border-green-800 text-green-800 hover:border-transparent hover:bg-green-800 hover:text-white active:bg-green-900"
						hx-get="/api/scorematch/" hx-trigger="click" hx-target="#bird-wrapper" hx-swap="outerHTML"
						hx-vals='{"winner": "left", "leftBirdID": "%s", "rightBirdID": "%s"}'>
						This one!
					</button>
				</div>
			</div>
			
			<!-- Right Bird Card -->
			<div class="flex-1 max-w-md shadow-lg rounded-lg p-6 flex flex-col bg-zinc-300" id="right-bird">
				<div id="right-bird-content" class="flex-1 flex flex-col">
					<div class="w-full aspect-square mb-4 overflow-hidden rounded-md bg-gray-100 flex items-center justify-center"
						id="right-bird">
						<img class="w-full h-full object-cover loading-shimmer" width="250" height="250"
							src="/api/image?url=%s">
					</div>
					<div class="flex flex-col text-center mb-4">
						<p>%s</p>
						<p><em>%s</em></p>
					</div>
					<button
						class="rounded-md outline border-green-800 text-green-800 hover:border-transparent hover:bg-green-800 hover:text-white active:bg-green-900"
						hx-get="/api/scorematch/" hx-trigger="click" hx-target="#bird-wrapper" hx-swap="outerHTML"
						hx-vals='{"winner": "right", "leftBirdID": "%s", "rightBirdID": "%s"}'>
						This one!
					</button>
				</div>
			</div>

        </div>

        <div id="leaderboard-wrapper"
            class="flex flex-col mt-8 static shadow-md rounded-xl outline outline-green-800 items-center h-fit w-md bg-green-600">
            <div class="leaderboard-header">
                <p>Visit the <a href="leaderboard.html"
                        class="text-amber-300 hover:text-amber-100 underline italic">leaderboard</a></p>
            </div>
            <div class="leaderboard-list p-2" hx-trigger="load" hx-get="/api/leaderboard" hx-swap="innerHTML"
                hx-vals='{"listLength": "10"}'>
                <table>
                    <tr>
                        <th>Ranking</th>
                        <th>Common Name</th>
                        <th>ELO Score</th>
                    </tr>
                    <tr class="leaderboard-first">
                        <td>1.</td>
                        <td>defaulticus maximus</td>
                        <td>999999999</td>
                    </tr>
                    <tr class="leaderboard-second">
                        <td>2.</td>
                        <td>defaulticus medius</td>
                        <td>999999998</td>
                    </tr>
                    <tr class="leaderboard-third">
                        <td>3.</td>
                        <td>defaulticus minimus</td>
                        <td>999999997</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer relative inset-x-0 bottom-0 m-0 p-4 w-screen text-center bg-green-700">
        <p>Copyright Neeeb | 2025</p>
    </div>
</body>

</html>